* {box-sizing: border-box;}

/* variables */
:root {
	--headerWidth: 100px;
}

body{
		margin-left:var(--headerWidth);
		font-size: 16px;
		font-family: "Arimo", sans-serif;
		padding: 20px;
		background: url('https://png.pngtree.com/thumb_back/fh260/background/20231128/pngtree-vibrant-watercolor-texture-in-light-green-for-your-design-image_13813948.png');
	}

h1,h2,h3,h4 {font-family: "Chelsea Market", Veranda; text-transform: uppercase;}
h1{font-size: 3rem;}
h2 {font-size:2rem;}

/* Heading */
#header {position:fixed; left:0; top:0; width:var(--headerWidth); background:white; color:black; height:100vh; padding:20px;}
	#header > div {width:100%; height:100%; display:flex; flex-flow:column;}
	#header > div > h4 {height:100%; writing-mode: vertical-rl;}
